<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44578531717-7hvn2scbe3d8tt0qos3v2772l40jn9q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44578531717-7hvn2scbe3d8tt0qos3v2772l40jn9q4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>44578531717-l3i59nmpmvsge9urupnadve4m0gmtgu3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfp5SkBIr_XzaWst8GidvCssoniX2ZeIE</string>
	<key>GCM_SENDER_ID</key>
	<string>44578531717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.programmercepat.web</string>
	<key>PROJECT_ID</key>
	<string>programmer-cepat</string>
	<key>STORAGE_BUCKET</key>
	<string>programmer-cepat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44578531717:ios:c89145e9b3681b82a23cec</string>
</dict>
</plist>